<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Школа</title>
</head>
<body>

<b>СРЕДНЯЯ ШКОЛА №5</b>

<div class="main">
    <br>
    <div class="list">
        <a th:href="@{/school/classes}"><b>Классы</b></a>
    </div>
    <br>
    <div class="list">
        <a th:href="@{/school/schedule}"><b>Рассписание уроков</b></a>
    </div>
    <br>
    <div class="list">
        <a th:href="@{/school/schoolboy}"><b>Список учащихся</b></a>
    </div>
</div>
</body>
</html>