<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый</title>
</head>
<body>

<b>СОЗДАНИЕ НОВОГО КЛАССА</b>

<div class="frame">
    <form th:method="POST" th:action="@{/school/classes}" th:object="${clas}">
        <label for="name">Введите название класса:</label>
        <input type="text" th:field="*{name}" id="name">
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br/>

        <input type="submit" class="button" value="Добавить класс">
    </form>
    <hr/>
    <div class="btn-group">
        <div class="button">
            <a th:href="@{/school/classes}">Все классы</a>
        </div>
        <div class="button">
            <a th:href="@{/school/schoolboy}">Все учащиеся</a>
        </div>
        <div class="button">
            <a th:href="@{/school/schedule}">Расписание уроков</a>
        </div>
        <div class="button">
            <a th:href="@{/school}">На главную</a>
        </div>
    </div>
</div>


</body>
</html>