<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>

<b>ВНЕСЕНИЕ ИЗМЕНЕНИЙ РАСПИСАНИЕ</b>

<div class="frame">
    <form th:method="PATCH" th:action="@{/school/schedule/{id}(id=${schedule.getId()})}" th:object="${schedule}">

        <label for="name">Введите Фамилию и Имя:</label>
        <input type="text" th:field="*{name}" id="name">
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br/>
        <input type="submit" class="button" value="Редактировать">
    </form>
    <hr/>

    <div class="btn-group">
        <div class="button">
            <a th:href="@{/school/classes}">Список классов</a>
        </div>
        <div class="button">
            <a th:href="@{/school/schoolboy}">Все учащиеся школы</a>
        </div>
        <div class="button">
            <a th:href="@{/school/schedule}">Расписание уроков</a>
        </div>
        <div class="button">
            <a th:href="@{/school}">На главную</a>
        </div>
    </div>
</div>

</body>
</html>